@model LojaSite.Models.Produto

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nm_produto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nm_produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vl_produto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vl_produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_mercado_id_mercado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_mercado_id_mercado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_marca_id_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_marca_id_marca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
